---
import Layout from "../../layouts/Layout.astro";
import BoxUnlockGame from "../../games/BoxUnlock/index.svelte";
---

<Layout>
  <a href="/">Home</a>
  <h1>Box Unlock</h1>
  <div style="display: flex; justify-content: center;">
    <BoxUnlockGame client:load />
  </div>
</Layout>
