---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Mr. Pullen's Website</h1>
  <ul>
    <li><a href="/games/scatter-sense">Scatter Sense</a></li>
    <li><a href="/games/box-unlock">Box Unlock</a></li>
    <li><a href="/games/solution-sweeper">Solution Sweeper</a></li>
  </ul>
</Layout>
